<div id="revenue-actions">
  <form class="password-update-form" action="/admin/revenue/add" method="post">
    <h3>Add Revenue</h3>
    <label class="">Revenue Type:</label>
    <input type="text" name="type" placeholder="Revenue Type" required>
    <label class="">Revenue Amount:</label>
    <input type="number" name="amount" placeholder="Revenue Amount" required>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
  <form class="password-update-form" action="/admin/revenue/update" method="post">
    <h3>Update Revenue</h3>
    <label class="">Revenue id:</label>
    <input type="number" name="id" placeholder="Revenue ID" required>
    <label class="">Revenue Amount:</label>
    <input type="number" name="amount" placeholder="Revenue Amount" required>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>